version: 2
updates:
  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "weekly"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"

  - package-ecosystem: "docker"
    directory: "/docker/api"
    schedule:
      interval: "monthly"

  - package-ecosystem: "docker"
    directory: "/docker/nginx"
    schedule:
      interval: "monthly"
